---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import * as Icon from '@astropub/icons';
---

<header>
  <nav>
    <h2><a href='/'>{SITE_TITLE}</a></h2>
    <div class='internal-links'>
      <HeaderLink href='/'>Home</HeaderLink>
      <HeaderLink href='/posts'>All Posts</HeaderLink>
    </div>
    <div class='social-links'>
      <a href='https://twitter.com/papadavis47' target='_blank'>
        <span class='sr-only'>Follow John on Twitter</span>
        <Icon.TwitterLogo height='40' width='40' />
      </a>
      <a href='https://github.com/papadavis47/iwanttolearnthesethings' target='_blank'>
        <span class='sr-only'>Programmers go to GitHub repo if interested</span>
        <Icon.GitHubLogo height='40' width='40' />
      </a>
    </div>
  </nav></header
>
