---
import NavLink from './NavLink.astro';
import { SITE_TITLE } from '../consts';
import * as Icon from '@astropub/icons';
---

<header class='py-10 px-6 border-b-black border-2'>
  <nav class='flex align-baseline max-w-7xl mx-auto'>
    <h2 class='mr-auto'
      ><a href='/' class='text-3xl font-serif text-colorSoftBlue font-semibold'>{SITE_TITLE}</a></h2
    >
    <div class='flex gap-x-12 align-baseline'>
      <div class='text-xl flex gap-4'>
        <NavLink href='/'>home</NavLink>
        <NavLink href='/posts'>all posts</NavLink>
        <NavLink href='/posts/personal-finance'>personal finance</NavLink>
        <NavLink href='/posts/parenting'>parenting</NavLink>
        <NavLink href='/posts/wellness'>wellness</NavLink>
      </div>
    </div>
  </nav>
</header>
