---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<!-- This is where I hide the link instead of underline it --><!-- previously we underlined with ? 'underline': 'no-underline', 'inline-block'] --><!-- may change it later - we'll see -->
<a href={href} class:list={[className, isActive ? 'hidden' : 'inline-block']} {...props}>
  <slot />
</a>
