---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
  href={href}
  class:list={[className, isActive ? 'underline' : 'no-underline']}
  {...props}
  class='hover:text-blue-700 inline-block text-colorSoftBlue font-semibold'
>
  <slot />
</a>
